

html{
    scroll-behavior: smooth;
  }

#home-section .home-inner{
    padding-top:120px
}

#model-section{
  padding-top:120px
}

#home-section{
  color:black;
}
  

#home-section .card-form{
    opacity: 0.9;
}

#home-section .fas{
  color: #008ed6;
  background: #fff;
  padding: 5px;
}


img#decisionT{
  padding: 0px 0px 16px
}

i.fas.fa-check.fa-2x{
  border: 4px solid black;
}




.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



#main-footer{
  color:white
}

h2 {
  margin: 0 0 45px 0;
}

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background:#007BFF;
  bottom: 40px;
  right: 20px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}



#table1{
 page-break-inside:auto 
}