<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black Friday - Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

</head>

<body data-spy="scroll" data-target="#main-nav" id="home">
<!--NavBar Section-->
<section>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" id="main-nav">
            <div class="container">
                <a href="#home" class="navbar-brand">
                    <img src="../static/images/logo.jpg" width="250" height="70" alt="">
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">ANALYSIS</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">MODEL</a>
                    </li>
                    <li class="nav-item">
                            <a href="/" class="nav-link">DATA</a>
                    </li>
                    <li class="nav-item">
                        <a href="/predictor" class="nav-link">PREDICTOR</a>
                    </li>
    
                    <li class="nav-item">
                      <a href="/about" class="nav-link">ABOUT US</a>
                    </li>
    
                    <form class="form-inline ml-auto">
                        <input type="text" class="form-control mr-2" placeholder="Search">
                        <button class="btn btn-outline-light">Search</button>
                    </form>
                </ul>
                </div>
            </div>
        </nav>
    </section>
<br>



</br>
<!--Model Live-->
<section id="predictor-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">Predictor</h1>
                <p class="lead">Use the model to predict the purchase amount by completing the form below</p>
                <!-- <a href="#" class="btn btn-outline-secondary">Find Out More</a> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <h2>Model Inputs</h2>
                <form method="POST" action="/predictor" role="form", name="donationform">
                    <div class="form-group">
                        <label>Gender</label>
                        <p>Male = 1 | Female = 0</p> 
                        <input type="text" class="form-control" name="gender" placeholder="0 or 1">
                    </div>
                    <div class="form-group">
                        <label>Age Range</label>
                        <p>0-17 = 0 | 18-25 = 1 | 26-35 = 2 | 36-45 = 3 |46-50 = 4 | 51-55 = 5 | 55+ = 6</p>
                        <input type="text" class="form-control" name="age" placeholder="0 to 6">
                    </div>
                    <div class="form-group">
                        <label>Occupation</label>
                        <input type="text" class="form-control" name="occupation" placeholder="1 to 20">
                    </div>
                    <div class="form-group">
                        <label>City Category</label>
                        <p>A = 0 | B= 1 | C = 2</p>
                        <input type="text" class="form-control" name="city" placeholder="0 to 2">
                    </div>
                    <div class="form-group">
                      <label>Stay in Current City (years)</label>
                      <p>1, 2, 3, +4</p>
                      <input type="text" class="form-control" name="currentCity" placeholder="1, 2, 3, 4">
                  </div>
                  <div class="form-group">
                      <label>Marital Status</label>
                      <input type="text" class="form-control" name="marital" placeholder="Married: 1, Single: 0">
                  </div>
                  <div class="form-group">
                      <label>Product Category 1</label>
                      <input type="text" class="form-control" name="prodCat1" placeholder="0 to 18">
                  </div>
                  <div class="form-group">
                      <label>Product Category 2</label>
                      <input type="text" class="form-control" name="prodCat2" placeholder="0 to 18">
                  </div>
                  <div class="form-group">
                    <label>Product Category 3</label>
                    <input type="text" class="form-control" name="prodCat3" placeholder="0 to 18">
                </div>
                    <input type="submit" value="Submit" class="btn btn-primary" role="button">
                </form>
            </div>
            <div class="col-md-6">
                <h4><b>{{ message1 }}</b></h4>
                <br>
                </br>
                <h5>{{ message2 }}</h5>
                    <div class="table-responsive">
                        <table class="table table-striped" id="table3">
                        <thead>
                          <tr style="text-align: left;">
                            <th>Feature Type</th>
                            <th>Result</th>
                            <!-- <th>Result</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Marital Status:</th>
                            <td>{{ message3 }}</td>
                          </tr>
                          <tr>
                            <th>Gender:</th>
                            <td>{{ message4 }}</td>
                          </tr>
                          <tr>
                            <th>Age Range:</th>
                            <td>{{ message5 }}</td>
                          </tr>
                          <tr>
                            <th>Occupation:</th>
                            <td>{{ message6 }}</td>
                          </tr>
                          <tr>
                            <th>Current City:</th>
                            <td>{{ message7 }}</td>
                          </tr>
                          <tr>
                            <th>Stay in Current City:</th>
                            <td>{{ message8 }}</td>
                          </tr>
                          <tr>
                            <th>Product Category 1:</th>
                            <td>{{ message9 }}</td>
                          </tr>
                          <tr>
                            <th>Product Category 2:</th>
                            <td>{{ message10 }}</td>
                          </tr>
                          <tr>
                            <th>Product Category 3:</th>
                            <td>{{ message11 }}</td>
                          </tr>
                        </tbody>
                    </table> 
                           
                 </div>
            <!-- <div class="col-md-6">
                <h5><b>{{ message1 }}</b></h5>
                <br>
                </br>
                <h5><b>{{ message2 }}</b></h5>
                <h6>{{ message3 }}</h6>
                <h6>{{ message4 }}</h6>
                <h6>{{ message5 }}</h6>
                <h6>{{ message6 }}</h6>
                <h6>{{ message7 }}</h6>
                <h6>{{ message8 }}</h6>
                <h6>{{ message9 }}</h6>
                <h6>{{ message10 }}</h6>
                <h6>{{ message11 }}</h6>
            </div> -->

    </div>
  </section>
  <br>
</br>
   <!--footer-->
  <footer id="main-footer" class="bg-dark">
      <div class="container">
          <div class="row">
              <div class="col text-center py-4">
                  <h3>Black Friday</h3>
                  <p>Copyright &copy; <span id="year"></span></p>
                  <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
              </div>
          </div>
      </div>
  </footer>
  
  <!--CONTACT MODAL-->
  <div class="modal fade text-dark" id="contactModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Contact Us</h5>
                  <button class="close" data-dismiss="modal">
                      <span> &times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form action="">
                      <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="message">Message</label>
                          <textarea class="form-control"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary btn-block">Submit</button>
              </div>
          </div>
      </div>
  </div>
  <a class="gotopbtn gotopbtn-bottom" href="#"> <i class="fas fa-arrow-up"></i> </a>   
  
      <script>
          // Get the current year for the copyright
          $('#year').text(new Date().getFullYear())
  
          // Init Scrollspy
          $('body').scrollspy({ target: '#main-nav' });
  
          // Smooth Scrolling
          $("#main-nav a").on('click', function (event) {
          if (this.hash !== "") {
              event.preventDefault();
  
              const hash = this.hash;
  
              $('html, body').animate({
              scrollTop: $(hash).offset().top
              }, 800, function () {
  
              window.location.hash = hash;
              });
          }
          });
      </script>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  
      <!-- Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
      $('#year').text(new Date().getFullYear())
  </script>
  

</body>
</html>